<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BulletinBoard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{%static 'css/variables.css' %}"  rel="stylesheet">
  <link href="{%static 'css/main.css' %}"  rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/ads" class="logo d-flex align-items-center">
        <h1>Доска объявлений</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          {% if request.user.is_authenticated %}
          <li><a href="/ads/my_responses">Мои отклики</a></li>
          <li><a href="/ads/create">Добавить объявление</a></li>
          {% endif %}



          {% if request.user.is_authenticated %}
          <li><a href="{% url 'about' %}">Выход ({{ user.username }})</a></li>
          {% else %}
           <li><a href="{% url 'registration' %}">Вход/регистрация</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>

  </header><!-- End Header -->
  <br>
  <br>
  <br>
  <br>
        <!-- Page content-->
        <div class="container">
   <div class="row">
       <div class="col-lg-12 text-center">
           {% block content %}
           {% endblock content %}
                </div>
   </div>
</div>
</body>
</html>